@import './base.css';
#app {
    max-width: 1920px;
    padding: 2rem;
    font-weight: normal;
}

.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

a {
    color: hsla(160, 100%, 37%, 1);
    text-decoration: none;
}

h1,
h3 {
    color: white;
}

@media (hover: hover) {
    a:hover {
        filter: brightness(1.2);
    }
}

@media (min-width: 1024px) {
    #app {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 4rem;
        font-size: medium;
    }
}